@page
@model SignInModel
@{
    ViewData["Title"] = "Home page";
}

<!-- MAIN (Center website) -->
<div class="main">
<h1>Sign in</h1>
<hr>

<!-- Sign in Part -->
<div id="sign-in-container">
  <p>Choose you preferred provider.</p>
    @foreach(var authMethod in Model.AuthMethods)
    {
        @if(authMethod != null)
        {
            <div class="row">
                <form method="post" asp-page-handler="Login">
                    <input type="hidden" name="authMethod" value="@authMethod.Name" />
                    <button type="submit">Sign in with @authMethod.Name</button>
                    <script>@authMethod.Url</script>
                </form>
            </div>
        }
    }
</div>
<!-- END Sign in Part -->


<!-- END MAIN -->
</div>

